body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grannie-body {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.grannie-app {
  height: 100%;
  width: 100%;
  position: relative;
  color: #202B33;
}

.icon {
  font-size: 16px;
  padding-right: 8px;
  font-weight: 500;
}

.noselect {
  user-select: none;
}

/**
 * FLEX
 */

.flex-v-box {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.flex-h-box {
  display: flex;
  flex: 0 0 auto;
}

/**
 * WORKSPACE
 */
.workspace {
  width: 100%;
  display: flex;
}